
.main-box {
    border-style: solid;
    width: 500px;
    margin-left: 30%;
}

.first-box {
    height: 100px;
    width: 500px;
    background-color: orange;
}

.sec-box {
    height: 100px;
    width: 500px;
    background-color: white;
}

.third-box {
    height: 100px;
    width: 500px;
    background-color: green;
}